header{
    background-color: purple;
    color: white;
    font-size: 24px;
    padding: 30px;
    text-align: center;
    ul{
        margin-top: 10px;
        li{
            display: inline-block;
            margin-top: 10px;
            
            a{
                text-decoration: none;
                color:black;
                padding: 5px;
                margin: 5px 10px 0 10px;
                background-color: beige;
                border-radius: 5px;
                border: 1px solid purple;
            }
            a:hover{
                background-color: rgb(102, 102, 76);
                border-radius: 5px;
            }
        }
    }
}

.toggletrue{
    background-color: aqua;
}